*{
   font-family: Arial;
}
.container{
      display: flex;
      flex-direction: column;
      height: 100vh;
}
.header{
     flex: 15%;
     background-color: green;
}
.menu {
  flex:5%;
  background-color: red;
}
.content{
     flex:70%;
    background-color: white;
}
.footer{
    flex:10%;
    background-color: pink;
}
