*{
   font-family: Arial;
}
.container{
      display: flex;
      flex-direction: column;
      height: 100vh;
}
.header{
     flex: 15%;
     background-color: lightgray;
}
.menu a{
   padding: 15px 20px;
   color:black;
}
.menu hover{
    background-color:lightgray;
    color:black;
}
.content{
     flex:70%;
    background-color: white;
}
.content iframe{
   flex: 1;
   border: none;
   width: 100%;
   height: 100%;
}
.footer{
    flex:10%;
    background-color:light gray ;
}
